<h1>Edit User</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [:admin, @user] do |f| %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Update", :class => "btn btn-primary" %>
    <%= link_to "Cancel", admin_users_path %>
  </div>

  <div class="form-group">
      <%= f.label :group_ids %>
      <%= f.select :group_ids, Group.all.map{ |g| [g.name, g.id] }, {}, :multiple => true, :class => "form-control" %>
    </div>
    <%= form_for @user do |f| %>

    <div class="form-group">
      <%= f.label :time_zone %>
      <%= f.time_zone_select :time_zone %>
    </div>

   <%= f.fields_for :profile do |ff| %>
     <div class="form-group">
       <%= ff.label :legal_name %>
       <%= ff.text_field :legal_name, :class => "form-control" %>
     </div>

     <div class="form-group">
       <%= ff.label :birthday %>
       <%= ff.text_field :birthday, :class => "form-control" %>
     </div>

     <div class="form-group">
       <%= ff.label :location %>
       <%= ff.text_field :location, :class => "form-control" %>
     </div>

     <div class="form-group">
       <%= ff.label :education %>
       <%= ff.text_field :education, :class => "form-control" %>
     </div>

     <div class="form-group">
       <%= ff.label :occupation %>
       <%= ff.text_field :occupation, :class => "form-control" %>
     </div>

     <div class="form-group">
       <%= ff.label :bio %>
       <%= ff.text_area :bio, :class => "form-control" %>
     </div>

     <div class="form-group">
       <%= ff.label :specialty %>
       <%= ff.text_area :specialty, :class => "form-control" %>
     </div>
   <% end %>

    <div class="form-group">
      <%= f.submit "Save", :class => "btn btn-primary" %>
    </div>
<% end %>


<script>
  $("#user_group_ids").select2()
  $("#user_profile_attributes_birthday").datepicker({ format: "yyyy-mm-dd" });
</script>
